* {
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  background-color: #4877fb;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.main {
  height: 100vh;
  background-color: #cccccc;
}

.navigation-container {
  /* background-color: red; */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  padding: 20px 100px;
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-logo {
  height: 40px;
  display: block;
}

.navigation-links {
  display: flex;
}

.navigation-links a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 0 16px;
}

.title-container {
  flex: 5;
  display: flex;
  padding-bottom: 50px;
}

.title-text {
  flex: 4;

  display: flex;
  align-items: center;
}

.title-video {
  flex: 3;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.projects-button {
  display: block;
  background-color: #92adf8;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  margin-top: 30px;
}

.title-heading {
  color: white;
  font-size: 50px;
}

.description {
  color: #ccc;
  font-size: 12px;
  margin-top: 10px;
}

.card {
  background-color: #fff;
  /* width: 20%; */
  padding: 40px;
  height: 300px;
}

.card-link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  color: black;
  background-color: grey;
  margin-top: 16px;
}

.link-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-title {
  margin: 16px 0;
}

.arrow-img {
  width: 20px;
}

.cards-container {
  display: flex;
  padding: 100px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.offer-section {
  height: 100vh;
  background-color: #e4f1ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-container {
  width: 35%;
  position: relative;
}

.offer-image {
  width: 80%;
  display: block;
  margin: 50px;
}

.offer-message {
  background-color: green;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.offer-message p {
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 20px;
}
