body {
  padding: 16px;
}

.mycard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-padding-top {
  padding-top: 0;
}

/* VAZI SAMO ZA VELIKE EKRANE */
/* min-width ====> ekrani sa vecom sirinom od 992px */
@media (min-width: 992px) {
  body {
    padding: 60px;
  }

  .mycard {
    height: 70vh !important;
  }

  .desktop-padding-top {
    padding-top: 100px;
  }
}

.header__image {
  width: 100%;
  border-radius: 10px;
}

.bg-primary {
  background-color: aqua;
}

.border-red {
  border: 2px solid red;
}

/* Za ekrane sa manjom sirinom od 992px */
@media (max-width: 992px) {
  .header__image {
    width: auto;
    height: 200px;
  }
}
