body {
  padding: 16px;
}

.mycard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-padding-top {
  padding-top: 0;
}

/* VAZI SAMO ZA VELIKE EKRANE */
@media (min-width: 992px) {
  body {
    padding: 60px;
  }

  .mycard {
    height: 70vh !important;
  }

  .desktop-padding-top {
    padding-top: 100px;
  }
}

.header__image {
  width: 100%;
  border-radius: 10px;
}